@charset "UTF-8";

:root{
    --cor0: #000000;
    --cor1: #ffffff;
}

@font-face {
    font-family:'Passion One';
    src: url("Passion_One/PassionOne-Bold.ttf");
}
@font-face {
    font-family:'Sriracha';
    src: url(Sriracha/Sriracha-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
}

header{
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
    margin-bottom: 50px;
    
}

header>h1{
    font-variant: small-caps;
    font-family: 'Passion One', Arial, Helvetica, sans-serif;
    padding-top: 50px;
    font-size: 10vw;
}

header>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

a{
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section>p{
    font-family: 'Sriracha', Arial, Helvetica, sans-serif;
    line-height: 2em;
    font-size: 3.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section#img01{
    background: #333333 url(imagens/background001.jpg) right center / cover no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: inset 2px 2px 15px 1px rgba(0, 0, 0, 0.801);
}

section#img02{
    background: #333333 url(imagens/background002.jpg) right center / cover no-repeat;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: inset 2px 2px 15px 1px rgba(0, 0, 0, 0.801);
}

p.transparente{
    background-color: rgba(0, 0, 0, 0.514);
    color: var(--cor1);
    width: 43%;
    padding: 5px;
    display: inline-block;
    margin-left: 30px;
    text-shadow: 1px 1px 1px black;
}

footer{
    background-color: var(--cor0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--cor1);
    text-align: center;
    padding: 10px;
}