@charset "UTF-8";

/* Configurações gerais */

/* Nesse caso, as imagens ficam nos outros arquivos CSS, para que possamos criar uma responsividade em diferentes telas. Isso serve para outras coisas, mas o exemplo do dia foi com imagens. */

*{
    margin: 0xp;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: whitesmoke;
    text-shadow: 2px 2px 0px #1526a7;
    padding: 10px;
}